application/*
application_javascript/*
apt/*
ark/*
build-essential/*
compat_resource/*
database/*
homebrew/*
java/*
mingw/*
poise/*
poise-archive/*
poise-javascript/*
poise-languages/*
poise-service/*
postgresql/*
rsyslog/*
seven_zip/*
tomcat/*
windows/*

